@use 'sass:color';
@use '../utilities/variables';

$li-padding-top: variables.$sublist-padding + ((variables.$checkbox-size - (variables.$font-size * variables.$line-height)) * .5);

#recipe-image-container {
	border-bottom: variables.$border-width solid variables.$darkest-blue;
	height: 40vh;
	margin-left: calc(variables.$padding * -1);
	margin-right: calc(variables.$padding * -1);
	margin-top: calc(variables.$padding * -1);
	overflow: hidden;
	position: relative;

	@media (width >= variables.$screen-width-tablet-landscape) {
		margin-top: calc(variables.$top-padding * -1);
	}

	@media (width > variables.$screen-width-tablet-landscape) {
		border: 0;
	}
}

#recipe-image-link {
	background-color: variables.$dark-blue;
	background-image: url('/assets/img/zoom.svg');
	bottom: variables.$button-margin;
	font-size: 0;
	height: variables.$button-size;
	position: absolute;
	right: variables.$button-margin;
	width: variables.$button-size;
}

#recipe-image {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#recipe-image-container + #recipe #recipe-header {
	padding-top: variables.$margin;
}

#recipe-main {
	@media (width >= variables.$screen-width-tablet-landscape) {
		padding-right: variables.$margin;
		width: calc(100% - #{variables.$sidebar-width});
	}
}

#recipe-side {
	color: variables.$darkest-blue;
	display: inline;

	h2 {
		font-size: 28px;
	}

	& > .sticky-container:first-child {
		margin-top: 0;
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		background: color.scale(variables.$blue, $lightness: 15%);
		border-color: variables.$light-blue variables.$darkish-blue variables.$darkish-blue variables.$light-blue;
		border-style: solid;
		border-width: 0 1px;
		bottom: calc(variables.$top-padding * -1);
		display: block;
		margin-right: calc(variables.$padding * -1);
		margin-top: 0;
		padding: variables.$padding;
		position: absolute;
		right: 0;
		top: 0;
		width: variables.$sidebar-width;

		& > :first-child {
			margin-top: 8px;
		}
	}
}

#recipe-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

#recipe {
	input[type='checkbox'] {
		margin: 0 8px 0 0;
	}

	label {
		font-size: variables.$font-size;
		line-height: variables.$line-height;
		padding: 8px 0;
	}

	li {
		padding: variables.$list-padding 0;
		padding-left: calc(variables.$checkbox-size + variables.$checkbox-margin-right);
		padding-top: calc(variables.$list-padding + ((variables.$checkbox-size - (variables.$font-size * variables.$line-height)) * .5));
		position: relative;

		& > input {
			left: 0;
			position: absolute;
			top: variables.$list-padding;
		}

		li {
			padding-bottom: variables.$sublist-padding;
			padding-top: $li-padding-top;

			& > input {
				top: variables.$sublist-padding;
			}
		}
	}

	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ol,
		ul {
			margin-left: calc((variables.$checkbox-size * -.5) - variables.$checkbox-margin-right);
			margin-top: variables.$sublist-padding;
		}
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		position: relative;
	}
}

#recipe-header {
	align-items: center;
	display: flex;
	justify-content: space-between;

	h1 {
		flex: 1 1 auto;
	}
}

#recipe-main > ol {
	margin-top: calc(variables.$margin - $li-padding-top);

	& > li {
		border-top: 1px solid variables.$gray;
		counter-increment: step;
		min-height: calc(variables.$checkbox-size + (variables.$list-padding * 2));

		&:first-of-type {
			border-top: 0;
		}

		& > label {
			&::before {
				content: counter(step) '. ';
			}
		}
	}

	ol > li {
		counter-increment: substep;

		& > label {
			&::before {
				content: counter(substep) '. ';
			}
		}
	}
}

#recipe-footer {
	color: variables.$darkest-blue;
}

#filename-preview {
	border-radius: variables.$border-radius;
	height: 180px;
	margin-top: 8px;
	vertical-align: bottom;
	width: 320px;
}

fieldset {
	border: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	white-space: nowrap;

	button {
		border-radius: 0;
	}

	button:first-of-type {
		border-radius: variables.$border-radius 0 0 variables.$border-radius;
	}

	button:last-of-type {
		border-radius: 0 variables.$border-radius variables.$border-radius 0;
	}

	button:focus {
		position: relative;
	}

	div {
		border-color: variables.$darkish-blue;
		border-radius: variables.$border-radius;
		border-style: solid;
		border-width: 1px;
	}
}

legend {
	color: variables.$darkest-blue;
	font-family: variables.$serif;
	margin-bottom: 2px;
}

#unit-fieldset {
	legend {
		display: block;
		margin-left: auto;
	}
}
