// stylelint-disable declaration-no-important
@import 'utilities/variables';

@media print {
	body,
	#header {
		background: transparent;
	}

	body,
	.article--recipe label {
		font-size: 16px !important;
	}

	#side {
		background: transparent;
		border: 0;
		width: 100%;

		&:not(.show) {
			display: none;
		}
	}

	#header {
		height: auto;
	}

	#img,
	#auth,
	#search,
	.admin,
	.checkbox {
		display: none;
	}

	#site-title {
		background: transparent;
		color: $black;
		font-size: 32px;
		height: auto;
		text-decoration: none;
		width: auto;
	}

	.nav-list__link {
		border: 0;
		color: $black;
	}

	button,
	.button {
		background: transparent !important;
		border-color: $black !important;
		color: $black !important;
	}

	a {
		color: $black !important;
	}

	details,
	input,
	textarea {
		border-color: $black !important;
	}

	.checkbox {
		&:checked {
			opacity: 1;

			& + label {
				opacity: 1;
				text-decoration: none;

				.timer-link {
					text-decoration: none;
				}
			}
		}
	}

	input[type='checkbox']:checked::after {
		background-image: none;
	}

	#article {
		max-width: none;
		padding: 0;

		#side + & {
			margin-left: 0;
		}
	}

	#recipe-image {
		float: right;
		max-width: 40vw;
	}

	details {
		border-width: 1px 0;
		clear: both;
		font-size: 16px;
		padding: 8px 0;
	}

	summary {
		display: block;
	}

	.article--recipe {
		label {
			padding: 0;
		}

		li {
			min-height: 0 !important;
			padding: 0 !important;
		}

		& > div & > ol & > li {
			page-break-inside: avoid;
		}

		ol,
		ul {
			ol,
			ul {
				margin-left: 32px;
				margin-top: 0;
			}
		}

		& > ol > li {
			border: 0;
			padding: 8px 0 !important;
		}
	}

	.article--recipe #article-inner > ol > li {
		border-color: $black !important;
		padding: 8px 0 !important;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.timer-link {
		border: 0;
		color: $black;
	}
}
