$saturation: 10%;

$dark-blue: scale-color(#7b9db3, $saturation: $saturation);
$blue: scale-color(#c9eaff, $saturation: $saturation);
$light-blue: scale-color(#e3f4ff, $saturation: $saturation);
$darker-blue: scale-color($dark-blue, $lightness: -25%);
$darkest-blue: scale-color($dark-blue, $lightness: -50%);
$lighter-blue: scale-color($light-blue, $lightness: 50%);
$darkish-blue: scale-color($blue, $lightness: -8%, $saturation: -50%);
$gray: scale-color($blue, $lightness: -10%, $saturation: -50%);
$dark-gray: scale-color($gray, $lightness: -50%, $saturation: -30%);

$off-black: scale-color(#1c2a33, $saturation: $saturation);
$black: #000;
$white: #fff;

$link-color: #264ce0;

$red: #c00;
$light-red: #faa;
$lighter-red: scale-color($light-red, $lightness: 50%);
$dark-red: #600;

$green: #093;
$light-green: #7d9;
$lighter-green: scale-color($light-green, $lightness: 50%);
$dark-green: #063;

$pink: plum;

$border-radius: 6px;
$font-size: 18px;
$line-height: 1.3;
$margin: 20px;
$padding: 16px;
$top-padding: 24px;
$shadow: 4px 4px 8px rgba($black, .2);

$button-size: 44px;
$button-margin: 5px;

$checkbox-size: 32px;
$checkbox-margin-right: 8px;

$max-width: 1024px;
$content-width: 720px;
$sidebar-width: $max-width - $content-width;

$focus-color: $pink;
$focus-width: 4px;

$icon-size: 20px;

$image-height: 80px;

$input-border-width: 1px;
$input-line-height: 1;
$input-padding: 12px;

$list-padding: 12px;

$note-form-height: 133px;

$password-button-width: 70px;

$select-icon-size: 12px;

$sidebar-width: 280px;

$spinner-color-alternate: transparent !default;
$spinner-color: $darkest-blue !default;
$spinner-size: 50px !default;
$spinner-thickness: 10px !default;

$sublist-padding: 8px;

$toast-background-color: $darker-blue !default;
$toast-close-font-size: 18px !default;
$toast-close-icon: '\00d7' !default; // &times;
$toast-close-margin-left: 8px !default;
$toast-close-size: 32px !default;
$toast-margin: 16px !default;
$toast-padding: 16px !default;
$toast-text-color: $white !default;
$toast-zindex: 999 !default;

$toast-error-background-color: $light-red !default;
$toast-error-text-color: $dark-red !default;

$toast-success-background-color: $light-green !default;
$toast-success-text-color: $dark-green !default;

$button-height: (($input-border-width + $input-padding) * 2) + ($font-size * $input-line-height);
$header-top-padding: 12px;
$header-height: $button-size + ($header-top-padding * 2);
$search-height: (($padding + $input-border-width + $input-padding) * 2) + ($font-size * $input-line-height);

$breakpoint: $content-width + $sidebar-width;
$breakpoint-large: $max-width + $padding;
