* {
	box-sizing: border-box;
}

body {
	background: var(--darker-blue);
	font-family: var(--sans-serif);
	font-size: var(--font-size);
}

#main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
