@import '../../node_modules/normalize.css/normalize';
@import 'utilities/variables';
@import 'layout/header';
@import 'layout/nav';
@import 'components/alert';
@import 'components/auth';
@import 'components/button';
@import 'components/checkbox';
@import 'components/error';
@import 'components/focus';
@import 'components/heading';
@import 'components/input';
@import 'components/img-list';
@import 'components/label';
@import 'components/link';
@import 'components/notes';
@import 'components/paragraph';
@import 'components/recipe';
@import 'components/skip';
@import 'components/spinner';
@import 'components/timer';
@import 'components/toast';
@import 'utilities/print';

* {
	box-sizing: border-box;
}

body {
	background: $blue;
	font-family: sans-serif;
	font-size: $font-size;
}

#delete-form {
	display: inline-block;
}

#article {
	margin: 0 auto;
	padding: $padding;
	width: 100%;

	@media (min-width: #{$breakpoint}) {
		#side + & {
			margin-left: $sidebar-width;
			width: calc(100% - #{$sidebar-width});
		}
	}
}

#article-inner {
	@media (min-width: #{$breakpoint}) {
		margin: 0 auto;
		max-width: $content-width;

		.article--home & {
			max-width: none;
		}
	}
}
