@use '../utilities/variables';

#admin {
	display: flex;
	flex-direction: column;
	padding: 0 variables.$padding;

	.button {
		border-bottom-width: 0;
		text-align: center;
		white-space: nowrap;
	}

	button,
	form,
	.button {
		width: 100%;
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		flex-direction: row;
		justify-content: space-between;
		left: 0;
		margin-top: 2px;
		position: absolute;
		right: 0;
		top: 100%;
		width: auto;

		.button {
			margin-right: 4px;
		}

		button,
		form,
		.button {
			border-bottom-width: 0;
			border-radius: variables.$border-radius variables.$border-radius 0 0;
			width: auto;
		}
	}
}

.flex-grow {
	display: none;

	@media (width >= variables.$screen-width-tablet-landscape) {
		display: block;
		flex: 1 1 auto;
	}
}

.admin__button {
	margin-bottom: calc(variables.$padding * .5);

	@media (width >= variables.$screen-width-tablet-landscape) {
		margin-bottom: 0;
	}
}

.admin__button--active {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: variables.$light-blue;
	position: relative;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
		color: variables.$light-blue;
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		background-color: variables.$blue;
		border-radius: variables.$border-radius variables.$border-radius 0 0;
		color: variables.$darkest-blue;

		&:hover,
		&:active,
		&:focus {
			background-color: variables.$blue;
			color: variables.$darkest-blue;
		}

		&::after {
			background-color: variables.$blue;
			content: '';
			height: calc(variables.$border-width + 1px);
			left: -1px;
			margin-top: -1px;
			position: absolute;
			right: -1px;
			top: 100%;
		}
	}
}

#delete-form {
	display: inline-block;
}
