@use '../utilities/variables';

#article-outer {
	background: variables.$blue;
	flex: 1 1 auto;
}

#article {
	padding: variables.$padding;

	@media (width >= variables.$screen-width-tablet-landscape) {
		padding: variables.$top-padding variables.$padding;
	}
}
