#side {
	background: $light-blue;

	@media (min-width: #{$breakpoint}) {
		border-color: $darkish-blue;
		border-style: solid;
		border-width: 0 1px 0 0;
		bottom: 0;
		left: 0;
		position: fixed;
		top: 0;
		width: $sidebar-width;
	}
}

#header {
	align-items: center;
	background: $darker-blue;
	display: flex;
	flex-direction: column;
	height: $header-height;
	justify-content: center;
	padding: $padding;
	position: relative;
	text-align: center;

	.article--auth & {
		height: auto;
		margin-top: $padding;
	}
}

#site-title {
	background-image: url('/assets/img/title.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: $white;
	display: block;
	font-size: 0;
	height: 40px;
	position: relative;
	width: 140px;
	z-index: 1;
}

#img {
	display: block;
	height: $image-height;
	left: 50%;
	margin-left: #{$image-height * -.5};
	opacity: .5;
	position: absolute;
	top: $padding;
}

#auth {
	background: $darkest-blue;
	text-align: center;

	a {
		color: $white;
	}

	button {
		background: transparent;
		border-color: transparent;
		text-decoration: underline;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	a,
	button {
		&:hover,
		&:active,
		&:focus {
			position: relative;
			z-index: 1;
		}
	}

	form {
		display: inline-block;
	}
}

#menu-button {
	background-color: transparent;
	background-image: url('/assets/img/menu.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: $icon-size;
	border: 0;
	font-size: 0;
	height: $button-size;
	margin-top: #{$button-size * -.5};
	padding: 0;
	position: absolute;
	right: $padding;
	top: 50%;
	width: $button-size;

	@media (min-width: #{$breakpoint}) {
		display: none;
	}
}
