#header {
	background: $darker-blue;
	border-bottom: $border-width solid $darkest-blue;
	box-shadow: inset 0 -1px 0 $dark-blue;
}

#header-inner {
	align-items: center;
	display: flex;
	height: $header-height;
	justify-content: space-between;
	padding: $header-top-padding $padding;
	position: relative;
	text-align: center;

	.show-nav &,
	.show-search & {
		flex-wrap: wrap;
		height: auto;
	}
}

#site-title {
	background-image: url('/assets/img/title.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: $white;
	font-size: 0;
	height: 32px;
	width: 122px;
}
