#search {
	display: flex;
	padding: $padding;
	width: 100%;

	@media (min-width: #{$breakpoint-tablet-landscape}) {
		padding: 0;
		width: auto;
	}
}

#search-input {
	border: 0;

	&:focus {
		position: relative;
	}
}

#search-submit {
	background-color: $white;
	background-image: url('/assets/img/search.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: $icon-size;
	border: 0;
	box-shadow: none;
	color: #767676;
	font-size: 0;
	min-width: $button-size;
	width: $button-size;

	&:focus {
		box-shadow: 0 0 0 $focus-width $focus-color;
	}
}
