.checkbox {
	&:checked {
		opacity: 0.6;

		& + label {
			opacity: 0.6;
			text-decoration: line-through;

			.timer-link {
				border-color: transparent;
				color: inherit;
				text-decoration: line-through;
			}
		}
	}
}
