#img-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 8px calc(var(--img-list-gap) * -0.5) calc(var(--img-list-bottom-gap) * -1);
	padding: 0;

	@media (--img-list-breakpoint-1) {
		justify-content: flex-start;
	}
}

.img-list__item {
	margin: 0 calc(var(--img-list-gap) * 0.5) var(--img-list-bottom-gap);
	width: auto;

	@media (--img-list-breakpoint-1) {
		width: calc(50% - var(--img-list-gap));
	}

	@media (--img-list-breakpoint-2) {
		width: calc(33.333% - var(--img-list-gap));
	}
}

.img-list__link {
	display: block;
	text-align: center;
	width: 100%;
}

.img-list__img {
	background-color: var(--light-blue);
	border-radius: var(--border-radius);
	display: block;
	height: auto;
	margin-bottom: 6px;
	max-width: 100%;
}

.img-list__note {
	color: var(--darker-blue);
	font-size: 14px;
	margin-top: 2px;
	text-align: center;
}
