input,
select,
textarea {
	-webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
	background: var(--white);
	border: var(--input-border-width) solid var(--gray);
	border-radius: var(--border-radius);
	font-size: var(--font-size);
	line-height: var(--input-line-height);
	padding: var(--input-padding);
}

input:not([size]),
select,
textarea {
	width: 100%;
}

input[type='file'] {
	background: var(--white);
	cursor: pointer;
}

input[type='checkbox'] {
	appearance: none;
	background: var(--white);
	border: 1px solid var(--gray);
	border-radius: 0;
	cursor: pointer;
	height: var(--checkbox-size);
	vertical-align: middle;
	width: var(--checkbox-size);

	&:checked {
		&::after {
			background-image: url('/assets/img/check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: var(--icon-size);
			content: '';
			display: block;
			height: var(--checkbox-size);
			line-height: var(--checkbox-size);
			text-align: center;
			width: var(--checkbox-size);
		}
	}
}

.select-container {
	display: block;
	position: relative;

	&::after {
		background-image: url('/assets/img/caret.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: var(--select-icon-size);
		content: '';
		display: block;
		height: var(--select-icon-size);
		margin-top: calc(var(--select-icon-size) * -0.5);
		pointer-events: none;
		position: absolute;
		right: calc((var(--button-size) - var(--select-icon-size)) * 0.5);
		top: 50%;
		width: var(--select-icon-size);
		z-index: 1;
	}
}

.textarea--large {
	height: 50vh;
}

.password-container {
	display: flex;
}

input.password-input {
	border-right-color: transparent;
	width: calc(100% - var(--password-button-width));

	.no-js & {
		border-radius: var(--border-radius);
		border-right-color: var(--gray);
		width: 100%;
	}
}

.password-button {
	width: var(--password-button-width);

	.no-js & {
		display: none;
	}
}
