.modal {
	border: 0;
	padding: 24px;
}

.modal::backdrop {
	background: hsl(from var(--black) h s l / 50%);
}

.modal__box {
	& > :first-child {
		margin-top: 0;
	}
}

.modal__options {
	text-align: right;

	button + button {
		margin-left: 8px;
	}
}
