.alert {
	background: $light-blue;
	margin: $margin #{$padding * -1} 0;
	padding: $padding;
}

.alert--danger {
	background: $red;
	color: $white;
}

.alert--success {
	background: $green;
	color: $white;
}
