.alert {
	background: $light-blue;
	border-color: $blue-border;
	border-style: solid;
	border-width: 1px 0;
	box-shadow: 2px 2px $darkish-blue;
	margin: 12px -16px 0;
	padding: 16px;

	@media (width > $auth-width) {
		.article--auth & {
			border-radius: $border-radius;
			border-width: 1px;
		}
	}

	@media (width > $max-width) {
		border-radius: $border-radius;
		border-width: 1px;
	}
}

.alert--danger {
	background: $light-red;
	border-color: $red-border;
	color: $dark-red;
}

.alert--success {
	background: $light-green;
	border-color: $green-border;
	color: $dark-green;
}
