@use '../utilities/variables';

.alert {
	background: variables.$light-blue;
	border-color: variables.$blue-border;
	border-style: solid;
	border-width: 1px 0;
	box-shadow: 2px 2px variables.$darkish-blue;
	margin: 12px -16px 0;
	padding: 16px;

	@media (width > variables.$auth-width) {
		.article--auth & {
			border-radius: variables.$border-radius;
			border-width: 1px;
		}
	}

	@media (width > variables.$max-width) {
		border-radius: variables.$border-radius;
		border-width: 1px;
	}
}

.alert--danger {
	background: variables.$light-red;
	border-color: variables.$red-border;
	color: variables.$dark-red;
}

.alert--success {
	background: variables.$light-green;
	border-color: variables.$green-border;
	color: variables.$dark-green;
}
