.article--auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 400px;
	padding: 0 $padding;
	width: 100%;

	#header {
		height: auto;
	}

	h1 {
		margin-top: 20px;
	}

	input:not([type='checkbox']) {
		width: 100%;
	}

	@media (min-width: #{$breakpoint}) {
		min-height: 100vh;
	}
}
