button,
.button {
	background-color: $darkest-blue;
	border: 1px solid $darkest-blue;
	border-radius: $border-radius;
	box-shadow: inset 1px 1px 0 $medium-blue, inset -1px -1px 0 $darker-blue;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	line-height: $input-line-height;
	padding: $input-padding $input-padding #{$input-padding - 1px};
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($darkest-blue, $lightness: 5%);
		text-decoration: underline;
	}

	&[disabled] {
		background-color: $light-blue;
		border-color: $light-blue;
		box-shadow: inset 1px 1px 0 $blue, inset -1px -1px 0 $blue;
		color: $dark-blue;
		cursor: default;
		pointer-events: none;

		&:hover,
		&:active,
		&:focus {
			background-color: inherit;
			border-color: inherit;
			text-decoration: none;
		}
	}
}

.button--danger {
	background-color: $red;
	border-color: $red;
	box-shadow: inset 1px 1px 0 $light-red, inset -1px -1px 0 scale-color($red, $lightness: -30%);
	color: $white;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($red, $lightness: 5%);
	}
}

.button--secondary {
	background-color: $dark-blue;
	border-color: $dark-blue;
	box-shadow: inset 1px 1px 0 $darkish-blue, inset -1px -1px 0 $darker-blue;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($dark-blue, $lightness: 5%);
	}
}

.button--icon {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
