button,
.button {
	background: $darkest-blue;
	border: 1px solid $darkest-blue;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	line-height: $input-line-height;
	padding: $input-padding;
	text-decoration: none;
}

.button--danger {
	background: $red;
	border-color: $red;
	color: $white;
}

.button--secondary {
	background: $darker-blue;
	border-color: $darker-blue;
}
