dl {
	margin: 0;

	div {
		display: inline-block;
	}
}

dt {
	display: inline-block;
	font-weight: bold;
	margin-top: #{$margin * .5};
}

dd {
	display: inline-block;
	margin-left: 4px;
	margin-right: 16px;
	margin-top: #{$margin * .5};
}
