@use '../utilities/variables';

dl {
	background: variables.$white;
	border: 1px solid variables.$black;
	color: variables.$black;
	margin-bottom: 0;
	max-width: 260px;
	padding: 2px 4px 0;
}

dt {
	display: inline-block;
	font-weight: bold;
}

dd {
	display: inline-block;
}

.double {
	border-top: 4px solid variables.$black;
}

.line {
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

.line + .line,
.double + .line {
	border-top: 1px solid variables.$black;
}

.indent {
	padding-left: 1rem;

	dt {
		font-weight: normal;
	}
}
