h1,
h2,
h3,
h4 {
	color: $darkest-blue;
	font-family: $serif;
	font-weight: normal;
}

h1 {
	font-size: 28px;
	margin: 0;

	@media (min-width: #{$breakpoint-tablet-landscape}) {
		font-size: 36px;
	}
}

h2 {
	font-size: 24px;
	margin: $margin 0 0;

	#article > &:first-child {
		margin-top: 0;
	}

	@media (min-width: #{$breakpoint-tablet-landscape}) {
		font-size: 32px;
	}
}

ol + h2,
p + h2 {
	margin-top: #{$margin * 2};
}

h3 {
	font-size: 18px;
}
