@use '../utilities/variables';

$img-list-gap: 12px;
$img-list-bottom-gap: 24px;
$img-list-item-width: 320px;
$img-list-breakpoint-1: 480px;
$img-list-breakpoint-2: (($img-list-item-width + $img-list-gap) * 2) + $img-list-gap;

#img-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 8px calc($img-list-gap * -.5) calc($img-list-bottom-gap * -1);
	padding: 0;

	@media (width >= $img-list-breakpoint-1) {
		justify-content: flex-start;
	}
}

.img-list__item {
	margin: 0 calc($img-list-gap * .5) $img-list-bottom-gap;
	width: auto;

	@media (width >= $img-list-breakpoint-1) {
		width: calc(50% - #{$img-list-gap});
	}

	@media (width >= $img-list-breakpoint-2) {
		width: calc(33.333% - #{$img-list-gap});
	}
}

.img-list__link {
	display: block;
	text-align: center;
	width: 100%;
}

.img-list__img {
	background-color: variables.$light-blue;
	border-radius: variables.$border-radius;
	display: block;
	height: auto;
	margin-bottom: 6px;
	max-width: 100%;
}

.img-list__note {
	color: variables.$darker-blue;
	font-size: 14px;
	margin-top: 2px;
	text-align: center;
}
