input,
select,
textarea {
	-webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
	background: $white;
	border: $input-border-width solid $gray;
	border-radius: $border-radius;
	font-size: $font-size;
	line-height: $input-line-height;
	padding: $input-padding;
}

input:not([size]),
select,
textarea {
	width: 100%;
}

input[type='file'] {
	background: $white;
	cursor: pointer;
}

input[type='checkbox'] {
	appearance: none;
	background: $white;
	border: 1px solid $gray;
	border-radius: 0;
	cursor: pointer;
	height: $checkbox-size;
	vertical-align: middle;
	width: $checkbox-size;

	&:checked {
		&::after {
			background-image: url('/assets/img/check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: $icon-size;
			content: '';
			display: block;
			height: $checkbox-size;
			line-height: $checkbox-size;
			text-align: center;
			width: $checkbox-size;
		}
	}
}

.select-container {
	display: block;
	position: relative;

	&::after {
		background-image: url('/assets/img/caret.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: $select-icon-size;
		content: '';
		display: block;
		height: $select-icon-size;
		margin-top: #{$select-icon-size * -.5};
		pointer-events: none;
		position: absolute;
		right: #{($button-size - $select-icon-size) * .5};
		top: 50%;
		width: $select-icon-size;
		z-index: 1;
	}
}

.textarea--large {
	height: 50vh;
}

.password-container {
	display: flex;
}

input.password-input {
	border-right-color: transparent;
	width: calc(100% - #{$password-button-width});

	.no-js & {
		border-radius: $border-radius;
		border-right-color: $gray;
		width: 100%;
	}
}

.password-button {
	width: $password-button-width;

	.no-js & {
		display: none;
	}
}
