@use '../utilities/variables';

input,
select,
textarea {
	-webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
	background: variables.$white;
	border: variables.$input-border-width solid variables.$gray;
	border-radius: variables.$border-radius;
	font-size: variables.$font-size;
	line-height: variables.$input-line-height;
	padding: variables.$input-padding;
}

input:not([size]),
select,
textarea {
	width: 100%;
}

input[type='file'] {
	background: variables.$white;
	cursor: pointer;
}

input[type='checkbox'] {
	appearance: none;
	background: variables.$white;
	border: 1px solid variables.$gray;
	border-radius: 0;
	cursor: pointer;
	height: variables.$checkbox-size;
	vertical-align: middle;
	width: variables.$checkbox-size;

	&:checked {
		&::after {
			background-image: url('/assets/img/check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: variables.$icon-size;
			content: '';
			display: block;
			height: variables.$checkbox-size;
			line-height: variables.$checkbox-size;
			text-align: center;
			width: variables.$checkbox-size;
		}
	}
}

.select-container {
	display: block;
	position: relative;

	&::after {
		background-image: url('/assets/img/caret.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: variables.$select-icon-size;
		content: '';
		display: block;
		height: variables.$select-icon-size;
		margin-top: calc(variables.$select-icon-size * -.5);
		pointer-events: none;
		position: absolute;
		right: calc((variables.$button-size - variables.$select-icon-size) * .5);
		top: 50%;
		width: variables.$select-icon-size;
		z-index: 1;
	}
}

.textarea--large {
	height: 50vh;
}

.password-container {
	display: flex;
}

input.password-input {
	border-right-color: transparent;
	width: calc(100% - #{variables.$password-button-width});

	.no-js & {
		border-radius: variables.$border-radius;
		border-right-color: variables.$gray;
		width: 100%;
	}
}

.password-button {
	width: variables.$password-button-width;

	.no-js & {
		display: none;
	}
}
