@use '../utilities/variables';

a {
	color: variables.$link-color;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.link {
	display: inline-block;
	padding: variables.$input-padding 10px;
}
