#note-form {
	background: $light-blue;
	border-color: $darkish-blue;
	border-style: solid;
	border-width: 1px 0 0;
	bottom: 0;
	box-shadow: $shadow;
	display: none;
	left: 0;
	padding: 8px;
	position: fixed;
	right: 0;
	z-index: $notes-zindex;

	button {
		width: 100px;
	}

	&.show {
		display: block;

		& > div {
			display: flex;
		}
	}
}

.show-note {
	margin-bottom: $note-form-height;
}
