@use '../utilities/variables';

#nutrition-facts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	p {
		font-size: 0;
		text-align: right;
		width: 320px;
	}

	input,
	label,
	span {
		font-size: variables.$font-size;
	}

	input {
		border-right-width: 0;
		margin-left: 8px;

		&:focus + .postfix {
			box-shadow:
				variables.$focus-width calc(variables.$focus-width * -1) 0 0 variables.$focus-color,
				variables.$focus-width variables.$focus-width 0 0 variables.$focus-color;
		}
	}

	.postfix {
		background: variables.$white;
		border-color: variables.$gray;
		border-style: solid;
		border-width: variables.$input-border-width variables.$input-border-width variables.$input-border-width 0;
		color: variables.$darker-blue;
		padding: 12px 12px 12px 0;
	}
}
