@use '../utilities/variables';

.spinner {
	align-items: center;
	display: flex;
	font-size: 0;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: variables.$spinner-zindex;

	&.hide {
		display: none;
	}

	&::after {
		animation: spin 2s infinite linear;
		border-color: variables.$spinner-color variables.$spinner-color variables.$spinner-color variables.$spinner-color-alternate;
		border-radius: 1000px;
		border-style: solid;
		border-width: variables.$spinner-thickness;
		content: '';
		display: block;
		height: variables.$spinner-size;
		width: variables.$spinner-size;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
