.sticky-container {
	margin-top: $padding;
	text-align: right;
}

.sticky {
	position: sticky;
	top: $padding;
	z-index: $sticky-zindex;
}

.floating-button {
	border-radius: 100px;
	box-shadow: $shadow;
	height: $button-size;
	margin-left: $button-margin;
	width: $button-size;

	&:focus {
		box-shadow: 0 0 0 $focus-width $focus-color, $shadow;
	}

	.no-js & {
		display: none;
	}
}

#add-note-button {
	margin-right: 0;
}
