@use '../utilities/variables';

.sticky-container {
	height: variables.$button-size;
	margin-top: variables.$padding;
}

.sticky-inner {
	margin-left: auto;
	text-align: right;
}

.sticky {
	position: fixed;
	top: variables.$padding;
	z-index: variables.$sticky-zindex;
}

.floating-button {
	border-radius: 100px;
	box-shadow: variables.$shadow;
	height: variables.$button-size;
	margin-right: variables.$button-margin;
	width: variables.$button-size;

	&:focus {
		box-shadow: variables.$shadow, variables.$focus;
	}

	.no-js & {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

#add-note-button {
	margin-right: 0;
}
