#toast-container {
	align-items: flex-end;
	bottom: $note-form-height;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	z-index: $toast-zindex;
}

.toast {
	align-items: center;
	animation-fill-mode: forwards;
	animation-name: slide-in-out;
	background-color: $toast-background-color;
	border-radius: $border-radius;
	border-style: solid;
	border-width: 1px;
	box-shadow: $shadow;
	color: $toast-text-color;
	display: flex;
	margin: 0 $toast-margin $toast-margin;
	max-width: 90vw;
}

.toast-text {
	margin: 0;
	padding: $toast-padding;
}

.toast-close {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	font-size: 0;
	height: $toast-close-size;
	margin: 0 $toast-close-margin-left 0 0;
	padding: 0;
	width: $toast-close-size;

	&::after {
		content: $toast-close-icon;
		display: inline-block;
		font-size: $toast-close-font-size;
	}

	&:hover,
	&:active,
	&:focus {
		background: transparent;
	}

	&:focus {
		box-shadow: 0 0 0 $focus-width $focus-color;
	}
}

.toast--danger {
	background-color: $toast-danger-background-color;
	border-color: $toast-danger-border-color;
	color: $toast-danger-text-color;
}

.toast--success {
	background-color: $toast-success-background-color;
	border-color: $toast-success-border-color;
	color: $toast-success-text-color;
}

@keyframes slide-in-out {
	0% {
		transform: translateX(200%) translateZ(0);
	}

	10% {
		transform: translateX(0%) translateZ(0);
	}

	90% {
		transform: translateX(0%) translateZ(0);
	}

	100% {
		transform: translateX(200%) translateZ(0);
	}
}
