:root {
	/* Colors. */
	--dark-blue: #4b7c9b;
	--medium-blue: #739fbb;
	--blue: #c9eaff;
	--light-blue: #e3f4ff;
	--lightish-blue: hsl(from var(--dark-blue) h s calc(l * 1.066));
	--lighter-blue: hsl(from var(--blue) h s calc(l * 1.022));
	--darker-blue: hsl(from var(--medium-blue) h s calc(l * .685));
	--darkest-blue: hsl(from var(--medium-blue) h s calc(l * .397));
	--gray-blue: hsl(from var(--blue) h calc(s * .5) calc(l * .952));
	--blue-border: hsl(from var(--light-blue) h calc(s * .76) calc(l * .89));
	--darkish-blue: hsl(from var(--medium-blue) h s calc(l * .468));
	--link-color: #264ce0;
	--black: #000;
	--gray: hsl(from var(--blue) h calc(s * .5) calc(l * .902));
	--white: #fff;
	--red: #c00;
	--light-red: #faa;
	--dark-red: #600;
	--lightish-red: hsl(from var(--red) h s calc(l * 1.072));
	--darkest-red: hsl(from var(--red) h s calc(l * .7));
	--red-border: hsl(from var(--light-red) h calc(s * .8) calc(l * .902));
	--green: #093;
	--light-green: #7d9;
	--dark-green: #063;
	--green-border: hsl(from var(--light-green) h calc(s * .8) calc(l * .896));
	--pink: plum;
}
