:root {
	/* Fonts. */
	--serif: georgia, sans-serif;
	--sans-serif: sans-serif;

	/* Sizes. */
	--border-radius: 6px;
	--border-width: 8px;
	--font-size: 18px;
	--line-height: 1.3;
	--margin: 16px;
	--padding: 16px;
	--top-padding: 24px;
	--shadow: 4px 4px 8px hsl(from var(--black) h s l / 20%);
	--button-margin: 5px;
	--button-size: 44px;
	--checkbox-size: 32px;
	--checkbox-margin-right: 8px;
	--auth-width: 420px;
	--max-width: 1024px;
	--sidebar-width: 280px;
	--focus-color: var(--pink);
	--focus-width: 4px;
	--focus: 0 0 0 var(--focus-width) var(--focus-color);
	--icon-size: 20px;
	--input-border-width: 1px;
	--input-line-height: 1;
	--input-padding: 12px;
	--list-padding: 12px;
	--note-form-height: 133px;
	--password-button-width: 70px;
	--select-icon-size: 12px;
	--spinner-color-alternate: transparent;
	--spinner-color: var(--darkest-blue);
	--spinner-size: 50px;
	--spinner-thickness: 10px;
	--sublist-padding: 8px;
	--toast-background-color: var(--darker-blue);
	--toast-close-font-size: 18px;
	--toast-close-icon: '\00d7'; /* &times; */
	--toast-close-margin-left: 8px;
	--toast-close-size: 32px;
	--toast-margin: 16px;
	--toast-padding: 16px;
	--toast-text-color: var(--white);
	--toast-danger-background-color: var(--light-red);
	--toast-danger-border-color: var(--red-border);
	--toast-danger-text-color: var(--dark-red);
	--toast-success-background-color: var(--light-green);
	--toast-success-border-color: var(--green-border);
	--toast-success-text-color: var(--dark-green);
	--header-zindex: 993;
	--sticky-zindex: 994;
	--skip-zindex: 995;
	--notes-zindex: 996;
	--timer-zindex: 997;
	--toast-zindex: 998;
	--spinner-zindex: 999;
	--li-padding-top: calc(var(--sublist-padding) + ((var(--checkbox-size) - (var(--font-size) * var(--line-height))) * 0.5));
	--img-list-gap: 12px;
	--img-list-bottom-gap: 24px;
	--img-list-item-width: 320px;
}
